.emptyView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;

  height: 260px;
  padding: 20px 0 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 180px;
}
