.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex1 {
  flex: 1;
}

// .overlayStylesList {
//   position: absolute;
//   z-index: var(--z-index-2);
//   top: 0;
//   right: 0;
// }

// .toggleSectionActive {
//   border-top: 1px solid var(--figma-color-border);
//   border-bottom: 1px solid var(--figma-color-border);
// }

// .toggleSectionDivider {
//   padding: var(--space-extra-small) var(--space-small);
// }
