.container {
  display: flex;
  height: auto;
}

.settingView {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.flex1 {
  flex: 1;
}

.styleNameInput {
  width: 100%;
}

.overlayServerList {
  position: absolute;
  z-index: var(--z-index-2);
  width: 130px;
  bottom: 0;
  right: 0;
}

.rowItem {
  align-items: center;
}

.rowItemText {
  flex: 1;
}

//

.codePreview {
  flex: 1;
  overflow: auto;
  padding: 10px;
  background-color: var(--figma-color-bg-desktopForeground);
  border-left: 1px solid var(--figma-color-border);
}
