.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex1 {
  flex: 1;
}

.styleNameInput {
  width: 100%;
}

.overlayServerList {
  position: absolute;
  z-index: var(--z-index-2);
  width: 130px;
  bottom: 0;
  right: 0;
}

.rowItem {
  align-items: center;
}

.rowItemText {
  flex: 1;
}
