.codeLine {
  display: inline-block;
  background-color: var(--figma-color-bg-pressed);
  outline: 1px solid var(--figma-color-bg-disabled);
  font-style: italic;
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 3px;
}
