.emptyView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 100%;
  gap: 24px;
  padding: 20px 0 30px;

  transform: translateY(10px);

  animation: shaky 0.3s ease forwards;
}

.label {
  opacity: 0.6;
}

.group {
  align-items: center;
  width: 100%;
  max-width: 200px;
}

@keyframes shaky {
  0% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  60% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}
