.button {
  height: var(--input-button-height);
  background-color: var(--color-primary);
  border-radius: var(--input-button-radius);

  font-size: 16px;
  font-weight: 700;
  color: var(--color-white);

  outline: none;
  border: none;

  transition: background 0.1s ease-in-out;

  &:hover {
    background-color: var(--color-secondary);
  }
}
